@model Book
@{
    ViewData["Title"] = "Edit";
}

<h1 class="display-3">Yeni Kitap Ekle</h1>
<div class="row">
    <div class="col-md-4 ">
        <form asp-action="Edit">
            <div class="form-group">
                <input type="hidden" asp-for="BookId">
                <label class="control-label">Kitap Adı:</label>
                <input type="text" asp-for="BookName" class="form-control">
                <label class="control-label">Kitap Yılı:</label>
                <input type="text" asp-for="BookYearOfPublication" class="form-control">
                <label class="control-label">Kitap Baskı Numarası:</label>
                <input type="text" asp-for="BookEditionNumber" class="form-control">
                <label class="control-label">Kitap Sayfa Sayısı:</label>
                <input type="text" asp-for="BookNumberOfPages" class="form-control">

                <label class="control-label">Kitap Miktarı:</label>
                <input type="text" asp-for="BookQuantity" class="form-control">
                <label class="control-label">Kategori:</label>
                <select asp-for="CategoryId" class="form-control form-select" asp-items="ViewBag.Category"></select>
                <label class="control-label">Yazar:</label>
                <select asp-for="AuthorId" class="form-control form-select" asp-items="ViewBag.Author"></select>

                <label class="control-label">Yayımcı:</label>
                <select asp-for="PublisherId" class="form-control form-select" asp-items="ViewBag.Publisher"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success">
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="">Kitap Listesine Geri Dön</a>
</div>