@model Publisher
@{
    ViewData["Title"] = "Details";
}

<div class="card w-50">
<h4>Publisher ID</h4>
<p>@Model.PublisherId</p>

<hr>

<h4>Publisher Name</h4>
<p>@Model.PublisherName</p>

<hr>

<h4>Publisher City</h4>
<p>@Model.PublisherCity</p>
</div>