@model Member
@{
    ViewData["Title"] = "Details";
}

<div class="card w-50">
<h4>Member ID</h4>
<p>@Model.MemberId</p>

<hr>

<h4>Member Name</h4>
<p>@Model.MemberName</p>

<hr>

<h4>Member Surname</h4>
<p>@Model.MemberSurname</p>
</div>