@model Category
@{
    ViewData["Title"] = "Details";
}


<div class="card w-50">
<h4>Category ID</h4>
<p>@Model.CategoryId</p>

<hr>

<h4>Category Name</h4>
<p>@Model.CategoryName</p>

<hr>

<h4>Category Description</h4>
<p>@Model.CategoryDescription</p>
</div>
