

<div class="card">
    <div class="card-header">
        Rapor User
    </div>
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Kullanıcı Adı</td>
                    <td>Password</td>
                    <td>Adı</td>
                    <td>Soyadı</td>
                    <td>Email</td>
                    <td>Departman</td>
                    <td>Dahili</td>
                    <td>Üyelikleri</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
