@model RprUser

<form asp-controller="ReportUser" asp-action="Create" method="post">
     <div id="kt_docs_repeater_basic">
    <!--begin::Form group-->
    <div class="form-group">
        <div data-repeater-list="kt_docs_repeater_basic">
            <div data-repeater-item>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="form-label">Kullanıcı Adı:</label>
                        <input type="text" asp-for="Username" class="form-control mb-2 mb-md-0" placeholder="Enter full name" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Şifre:</label>
                        <input type="text" asp-for="Password" class="form-control mb-2 mb-md-0" placeholder="Enter contact number" />
                    </div>
                    <div class="col-md-4">
                        <a href="javascript:;" data-repeater-delete class="btn btn-sm btn-light-danger mt-3 mt-md-8">
                            <i class="la la-trash-o"></i>Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Form group-->
    <!--begin::Form group-->
    <div class="form-group mt-5">
        <a href="javascript:;" data-repeater-create class="btn btn-light-primary">
            <i class="la la-plus"></i>Add
        </a>
    </div>
    <!--end::Form group-->
</div>
</form>
